<footer class="flex-col mt-5 d-flex align-items-center justify-content-center">
  <div class="content-container">
    <p> Copyright &copy; 2021 TranslApp, Inc. All rights reserved</p>
    <div class="social-media-container">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>
