<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner.jpg') %>);">
  <div class="banner-text">
    <h1>TranslApp</h1>
    <p>Don't blame me. I'm an interpreter. I'm not supposed to know a power socket from a computer terminal.</p>
  </div>
</div>
