<div>
</div>
<div class="banner column" style="font-size: 32px;">
  <i class="fas fa-language fa-10x"></i>
  <div class="banner-text text-center">
    <h3>Find a translation buddy in your region.</h3>
    <%= link_to "View all offers", offers_path, class: "btn btn-contrast" %>
  </div>
</div>
<footer class="flex-col">
  <div class="social-links-container bg-secondary">
    <div class="wrapper flex-col center">
      <div class="copyright-container">
        <p> Copyright &copy; 2021 TranslApp, Inc. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
