<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1521803751845-f36d43bb1f76?ixlib=rb-1.2.1);">
  <div>
    <h1>TranslApp</h1>
    <p>A friend for your translation needs</p>
  </div>
</div>
