<br>
<div class="container mb-5">
  <br>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 show-card p-4 pr-1">
      <h3 class="text-center">Edit the translation offer</h3>
      <br>
      <%= render 'form', offer: @offer %>
    </div>
  </div>
</div>
