.btn-outline-yellow {
  border-color: $yellow;
  color: $yellow;
  &:hover {
    background-color: $yellow;
  }
}
.btn-outline-black {
  border-color: $black;
  color: $black;
  &:hover {
    background-color: $black;
    color: $yellow;
  }
}
.btn-yellow {
  border-color: $yellow;
  background-color: $yellow;
  color: $black;
  opacity: 80%;
  &:hover {
    background-color: $yellow;
    opacity: 100%;
  }
}
