.btn-outline-contrast {
  border-color: $contrast;
  color: $contrast;
  &:hover {
    background-color: $dark-contrast;
  }
}
.btn-outline-black {
  border-color: $black;
  color: $black;
  &:hover {
    background-color: $black;
    color: $contrast;
  }
}
.btn-contrast {
  border-color: $contrast;
  background-color: $contrast;
  opacity: 100%;
  color: $white;
  &:hover {
    background-color: $dark-contrast;
    color: $white;
  }
}
.btn-round {
  border-radius: 20px;
}
.btn-outline-white {
  border-color: $white;
  color: $white;
  &:hover {
    background-color: $white;
  }
}

.link {
  display: inline-block;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

/*===================*/
/* SHRINK EFFECT
/*===================*/

.shrink-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.shrink-on-hover:hover,
.shrink-on-hover:focus,
.shrink-on-hover:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

//------------ overline left
