// --------------------- CARD PRODUCT - FOR CARD-LIST VIEW ---------------------

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// ----------------------- CARD OFFER - FOR INDEX VIEWS ------------------------

.card-offer {
  overflow: hidden;
  background: $dark-grey;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: $white;
  padding: 16px;
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
  }
  a {
    text-decoration: none !important;
  }
}
.card-offer-header {
  display: flex;
  justify-content: space-between;
}
.card-offer-subtitle {
  font-weight: bolder;
  color: $contrast;
}
.card-offer-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.card-offer-description {
  height: 40px;
  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// ----------------------- CARD OFFER - Animation ------------------------

body {
  background: #03446A;
}

.card {
  position: absolute;
  top: 1200%;
  left: 42%;
  width: 350px;
  height: 200px;
  margin: -150px;
  float: left;
  perspective: 500px;
  background-color: transparent;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 1.3s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $dark-grey;
  line-height: 20px;
  color: $white;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: $dark-grey;
  color: $white;
  transform: rotateY(180deg);
}

.font_front {
  font-size: 20px;
}

.font_back {
  font-size: 15px;
}
