.home-options {
  padding: 50px;
  text-align: center;
  border: 1px solid $dark-grey;
}

.home-icon {
  font-size: 50px;
  color: $contrast;
}

.show-card {
  padding: 50px;
  text-align: center;
  border: 1px solid $dark-grey;
}

.icon {
  font-size: 50px;
  color: $contrast;
}
