.navbar-lewagon {
  justify-content: space-between;
  background: $dark-grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 190px;
}

.navbar-icon {
  width: 40px;
  margin-top: 13px;
}
