.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  // background: $dark-grey;
  transition: 0.5s background-color ease;
}

.navbar-visible {
  background: $dark-grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 250px;
}

.navbar-icon {
  background-color: $contrast;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    text-align: center;
    font-size: 20px;
    color: $white;
  }
  &:hover {
    background-color: $dark-contrast;
  }
}
.navbar-btn {
  padding: 8px 12px;
  color: $white;
}
