.show-card {
  background-color: $dark-grey;
  border-radius: 8px;
  color: $white;
  p {
    font-size: 16px;
    opacity: 70%;
  }
  h1 {
    font-size: 32px;
  }
}
.show-header {
  display: flex;
  justify-content: space-between;
}
.show-subtitle {
  font-weight: bolder;
  color: $contrast;
}
.show-side-box {
  width: 180px;
  background-color: $black;
  border-radius: 4px;
  h2 {
    font-size: 24px;
  }
}
.show-details {
  margin-bottom: 16px;
  p{
    margin: 0;
  }
}
